 <div data-hook="admin_product_form_tags" class="alpha omega twelve columns">
    <div class="field">
  	<%= f.label :sort_position, "Product positon for sort by" %><br />
  	<%= f.text_field :sort_position , :class => 'fullwidth' %>
	</div>
 </div>
